.section1 .titulo{
   
    margin-top: 4em;

}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cuadro{
  
    width: 100%;
    height: 30em;
}
.habilidades {
    padding: 1em;
}

#contorno{
    border-radius: 1em;
    padding-bottom: 2em;
    background-color: rgba(0, 255, 255, 0);
}

#titulo{
    width: 70%;
}

.footer h5{
    font-size: 1em;
    opacity: 50%;
}

.footer{
    margin-top: 5em;
}

.cuadro p {
    opacity: 40%;
    font-weight: 300;
}

.ICONO{
    width: 5em;
    margin: 1em;
}

.imagen{
    width: 20em;
    border-radius: 1em;
}